<!-- FAQ -->
<div class="container faq mt-3 mt-xl-5 mb-5">
  <div class="row">
    <div class="col-md-6">
      <img class="w-100 rounded" src="{{ shop_image }}" alt="jojomobil-butik" />
    </div>
    <div class="col-md-6">
      <div class="accordion-wrapper rounded">
        <div class="accordion accordion-flush"
          id="accordionPanelsStayOpenExample">
          {% for faq in list_faq %}
            <div class="accordion-item">
              <h2 class="accordion-header">
                <button class="accordion-button"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#q{{ loop.index }}"
                  aria-expanded="true"
                  aria-controls="q{{ loop.index }}">
                  <i class="{{ faq.icon_bootstrap }} me-2"></i> {{ faq.title }}
                </button>
              </h2>
              <div id="q{{ loop.index }}" class="accordion-collapse collapse">
                <div class="accordion-body">
                  {{ faq.description|raw }}
                </div>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>
